.jumbotron {
	margin-bottom: 0px;
}

.section-logo-bar {
	padding-top: 100px;
	padding-bottomm: 100px;
}

.bg-carbon {
	background-color: #494949;
}

.heading-text-div {
	text-align:center;
}

.text-letter-spacing {
	letter-spacing: 3px;
}

.heading-text-div {
	padding-top: 150px;
	padding-bottom: 60px;
}

.project-div {
	border:1px solid grey;
	height: 160px;
	text-align: center;
}

.project-logo {
	padding-top: 20px;
	width: 100px;
	height: 100px;
}

.how-it-works-heading-div {
	padding-top: 100px;
	padding-bottom: 60px;
}

.how-it-works-row {
	height: 320px;
}

.how-it-works-step-image {
	border:1px solid grey;
	height: 160px;
	text-align: center;
}

.successful-projects {
	margin-top: 80px;
	height: 100px;
	text-align: center;
}

.feedback-slider {
	height:500px;
	background-color: blue;
}

.get-started-main-row {
	margin-top: 150px;
	background-color: green;
	height: 300px;
}
.get-started-container {
	
}

.get-started-column {
	height: 100%;
}

.get-started-text {
	margin-top: 90px;
	height: 100%;
	color: white;
}

.get-started-button {
	border: 1px solid white;
	border-radius: 0px;
	margin-top: 30px;
	width: 300px;
	background-color: green;
	
}